body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.dark{
  padding: 15px;
  background: #35424a;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

header{
  background: #35424a;
  color: #ffffff;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 12px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;;
}

#showcase{
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -350px;
  text-align: center;
  color: #000000;
}

#showcase h1{
  margin-top: 100px;
  font-size: 45px;
  margin-bottom: 10px;
}

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 20px;
  width: 230px;
}

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

.button_1{
  height: 32px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

article#main-col{
  float: left;
  width: 65%;
}

ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer{
  padding: 5px;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #e8491d;
}
